
section AgentCheckHarness
open Lean Elab Meta Command

/-- Erase binder names so that alpha-equivalent statements hash identically. -/
private partial def acNorm (e : Expr) : Expr :=
  match e with
  | .forallE _ t b bi => .forallE `x (acNorm t) (acNorm b) bi
  | .lam _ t b bi     => .lam `x (acNorm t) (acNorm b) bi
  | .letE _ t v b nd  => .letE `x (acNorm t) (acNorm v) (acNorm b) nd
  | .app f a          => .app (acNorm f) (acNorm a)
  | .mdata _ b        => acNorm b
  | .proj s i b       => .proj s i (acNorm b)
  | e                 => e

/-- Delta-expand every constant living in namespace `ns`, with fuel. -/
private partial def acUnfold (ns : Name) (fuel : Nat) (e : Expr) : MetaM Expr := do
  if fuel = 0 then return e
  let mut changed := false
  let step (x : Expr) : MetaM TransformStep := do
    match x.getAppFn with
    | .const n _ =>
        if ns.isPrefixOf n then
          match (← unfoldDefinition? x) with
          | some x' => return .done x'.headBeta
          | none    => return .continue
        else return .continue
    | _ => return .continue
  let e' ← Meta.transform e (pre := step)
  if e' == e then return e else acUnfold ns (fuel - 1) e'

run_cmd Command.liftTermElabM do
  let ns : Name := `AGENTNS
  match (← getEnv).find? (ns ++ `theorem2) with
  | none => logInfo m!"@@ERR theorem2 not found in namespace {ns}"
  | some ci => do
      let raw := ci.type
      let unf ← acUnfold ns 60 raw
      let unf ← Meta.zetaReduce unf
      let shallow := (acNorm raw).hash
      let deep := (acNorm unf).hash
      let ppShallow ← Meta.ppExpr raw
      let ppDeep ← withOptions (fun o =>
          ((((o.setBool `pp.unicode.fun true).setBool `pp.deepTerms true).setBool
            `pp.proofs true).setNat `format.width 200)) do Meta.ppExpr unf
      logInfo m!"@@SHALLOW {shallow}"
      logInfo m!"@@DEEP {deep}"
      logInfo m!"@@PPSHALLOW {ppShallow}"
      logInfo m!"@@PPDEEP {ppDeep}"
      logInfo m!"@@AXIOMS {repr (← collectAxioms (ns ++ `theorem2))}"

end AgentCheckHarness
